/* 5 */
/*.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }*/
  

  .navigation-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }

  .navigation-container ul {
    list-style: none;
  }

  .navigation-container li {
    display: inline-block;
    padding-left: 0px 30px;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .navigation-container li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease 0s;
  }
  
  .navigation-container li a:hover {
    background-color: /*#F5F5F5*/ lightblue;
    transition: all 0.3s ease-in 0s;
    border-radius: 30%;
  }

  .content-container {
    padding: 80px 20px 300px 0px;
    background: url(../img/crabfive.jpg) no-repeat;
    margin: 0px 0px 0px 720px;
  }

  .content-container .intro p.span {
    font-size: 50%;
    font-weight: 700;
  }

